html {
  font-size: 14px;
  min-width: 100vh;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
 
  min-height: 100%;
}



.BackgroundHome {
    background-image: url(https://nove25.kleecks-cdn.com/img/cms/home%20page/2025/mar/impulse_d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    height: 500px;

    
}